.table th .current {
	padding-right: 15px;
	background-repeat: no-repeat;
	background-position: right center;
}

.table th .asc {
	background-image: url(arrow_up.png);
}

.table th .desc {
	background-image: url(arrow_down.png);
}

.table td {
	color:#000;
}

.table tr a{
	color:#000;
	text-decoration:underline;
}
	.table tr a:hover{
		color:#707070;
		background-color:#fff;
	}